@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BMJUA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --app-bar-height: 64px;
}

@layer base {
  body {
    @apply overflow-y-scroll;
  }
}

@layer components {
  .custom-app-bar-container {
    @apply z-20 h-[--app-bar-height] w-full border-b border-solid border-gray-100 bg-white px-4 flex-y-center;
  }
}
